.div-container{
    position: relative;
//  left: 16%;    
    width: 85%;
}

.table-editable {
  position: relative;
}
.table-editable .glyphicon {
  font-size: 20px;
}

.table-remove {
  color: #700;
  cursor: pointer;
}
.table-remove:hover {
  color: #f00;
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;
}
.table-up:hover, .table-down:hover {
  color: #00f;
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
}
.table-add:hover {
  color: #0b0;
}




/*my css*/

.wrapper{
  display: flex;
    align-items: stretch;

}

#sidebar {
    min-width: 200px;
    max-width: 200px;    
    transition: all 0.3s;
}

#sidebar.active {
    display:inline-block;
    min-width:0px;
    max-width: 0px;
    /*margin-right: 1em;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.easyui-ribbon{
  width: 1480px !important;
  position: relative;
}
#content {        
    transition: all 0.3s;
    position: absolute;

}
a[data-toggle="collapse"] {
    position: relative;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}


.bottom-collapse{
  position: absolute;
  top: 5px;
  right: 2em;
}
.bpmn-property-active{
  border:2px solid red;
}



